@using Servicios
@using Servicios.Modelos
@model IEnumerable<Servicios.Modelos.LibroDTO>
@inject HelloService hello

@{
  ViewData["Title"] = "Mostrar lista de libros";
  var modelo = ViewBag.Lista as IEnumerable<LibroDTO>;
}

@section style_page {

  <style>
    .color-rojo {
      color: var(--bs-carmin);
    }
  </style>
}


<div class="text-center">
  <h1 class="display-4">@hello.GetMensaje()</h1>
  <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (var libro in modelo)
{
  <h3 class="color-rojo">Titulo: @libro.Titulo</h3>
}

<div class=" bs-callout bs-callout-exotico">
  <h4 class="callout-header">Mensaje al usuario</h4>
  <div class="callout-body">
    Pronto tendremos algo aca...
  </div>
</div>

